<p class="poney-list">This is the reservation's page for ✨ <%= @poney.name %> ✨ </p>

<div class="reservation-box indiv-card-text">
  <% if @user.id != @poney.user_id %>
    <p>Poney's location : <%= @owner.address %></p>
    <%# maybe we can add a map here and show the shortest itinerary from user's address to its booking's location %>
  <div class="indiv-card-text">
    <p>- Poney type: <%= @poney.nature.capitalize %></p>
    <p>- SuperPower: <%= @poney.special_power.capitalize %></p>
  </div>
</div>
  <div class="confirm-booking">
    <p><strong> Do you want to confirm your booking ?</strong></p>
      <%= simple_form_for @booking, :url => poney_bookings_path  do |f| %>
        <div class="btn-individual btn-flat"><%= f.button :submit, 'Confirm' %></div>
      <% end %>
    <p></p>
  <% end %>
  </div>
</div>
