<p class="indiv-card-title">Bienvenue sur le form de création de Pôtit Poney </p>

<%= simple_form_for @poney, method: :post do |f| %>
  <%= f.input :name, label: 'Your poney name please', error: 'Name is mandatory, please specify one' %>
  <%= f.input :nature, collection: ['gentil', 'joli', 'éclaté'], include_blank: false %>
  <%= f.input :color, placeholder: 'poney color please' %>
  <%= f.input :price_per_diem, placeholder: 'A number please for rate per day' %>
  <%= f.input :height, placeholder: 'how big is this tiny horse ?' %>
  <%= f.input :description, label: 'please describe the poney' %>
  <%= f.input :special_power, label: 'Special power' %>
  <%= f.input :photo, as: :file, label: "Choose your poney's picture" %>
  <div class="btn-individual btn-flat"><%= f.button :submit %></div>
<% end %>
