<h1><%= @poney.name %></h1>

<p><%= @poney.name %> is a <%= @poney.nature %> poney.</p>

<p>It is <%= @poney.height %> feet tall.</p>

<p><%= @poney.description %></p>
<img src=<%= @poney.profile_pic_url %> alt="">
